.card-box
{   
    @apply lg:w-[90%] md:w-[80%] w-[90%] 
            lg:h-[33rem]  md:h-[25rem] h-[20rem]
            
            rounded-[1rem] border-solid border-[3px]
         
            
            bg-[#a2b6f1]  border-[#0e0e0e] m-auto my-4 text-ellipsis  transition duration-[1s] ease-in-out;
}
.card-box:hover 
{
    @apply scale-105 overflow-visible border-[#fefafa] border-[3px] shadow-2xl;
}
.book-pic
{   
   background: url('https://img.freepik.com/free-photo/wooden-table-with-blurred-background_1134-14.jpg?w=360');
   background-size: cover;
   
    @apply w-auto h-[55%] rounded-[5%] m-1  bg-[#ae181860];
}
.book-pic img
{
    @apply h-[100%]  m-auto;
}
.book-info
{
    @apply border-solid
}
.attr
{
    /* position: left; */
    padding-bottom: 0.5rem;
    font-weight: 700;

    @apply text-[#000000] text-[1.2rem] truncate drop-shadow-xl;
} 
.attr span{
    @apply text-[#200b48];
    font-weight: 400;
}
.views
{
    display: grid;
    grid-template-columns: 20% 20% 80%;

}
.rating
{
    /* margin-left: -3rem */
    /* @apply ml-28 ; */
}