.card-box
{ 
    @apply lg:w-[90%] md:w-[80%] w-[90%] 
            lg:h-[33rem]  md:h-[25rem] h-[20rem]
            
            rounded-[1rem] border-solid border-[3px]
         
            
            bg-[#d4dfff]  border-[#0e0e0e] m-auto my-4 text-ellipsis  transition duration-[1s] ease-in-out;
}
.card-box:hover 
{
    @apply scale-105 overflow-visible border-[#fefafa] border-[3px] shadow-2xl;
}
.book-pic
{
    @apply w-auto h-[55%] rounded-[5%] m-1  bg-[#923939];
}
.book-pic img
{
    @apply w-full h-full rounded-[5%];
}
.book-info
{
    /* @apply  text-center */
}
.attr
{
    /* position: left; */
    padding-bottom: 0.5rem;
    font-weight: 700;

    @apply text-[#000000] text-[1.2rem] truncate drop-shadow-xl;
} 
.attr span{
    @apply text-[#200b48];
    font-weight: 400;
}
.views
{
    display: grid;
    grid-template-columns: 20% 20% 80%;

}
.rating
{
    /* margin-left: -3rem */
    /* @apply ml-28 ; */
}