.book-container
{
    
}


.book-content
{  display: grid;
    
    grid-template-columns: 30% 70%;
    @apply my-4 mx-auto w-[80%]

    bg-[#fffff1] rounded-[.8rem]
   

    border-solid border-2 border-[#ffff2b] p-4
}

.book-content img
{
    @apply my-auto
}
.book-info
{
    @apply p-2
}
.book-info h1
{
    @apply text-2xl font-bold mx-auto p-4
}
.book-info h2 span
{
    @apply text-lg font-bold text-[#f5304acf]
}
.book-info h2
{
    @apply py-6
}

.all-ratings
{
    display: grid;
    grid-template-columns: 50% 50%;
  
    
}

.ratings-body
{
    @apply   bg-[#ffffff] rounded-[.8rem] my-4 w-[80%] p-4

    drop-shadow-lg  
}

.rating-b
{
    @apply drop-shadow-[0_35px_35px_rgba(1,1,1,1)] border-solid border-2 border-[#ffff2b] py-2 bg-[#b620202a]
    rounded-[.8rem]  w-[80%] p-4 my-2
}
.rat-title
{
    @apply text-2xl font-bold ml-[0.1rem] p-4
}
.rat-name
{
    @apply text-lg font-bold ml-[2rem] text-[#3730f5cf]
}
.rat-star, .rat-review
{
    @apply text-lg font-semibold  ml-[3rem]
}
.rat-star
{
    @apply  font-bold
}